#todayDatatitle{
    padding: 0px 0px 0px 30px;
}

.todayDataLayout{
    display: flex;
    padding: 60px 30px 0px 30px;
}

.todayDataLayout div{
    flex:1;
}

#todayDataFirst{
    
}

.trendingTokens{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.trendingTokens p{
    flex: 1;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.trendingTokens a{
    text-decoration: none;
    color: black;
}

#positivo{
    color: green
}

#negativo{
    color: red
}