.topnavbardiv{
    padding: 10px 30px 10px 30px;
    display: flex;
}

#topLastNavBarDataButton{
    text-align: end;
}

.topnavbardiv ul{
    display:flex;
    margin: 0;
    padding: 0;
    flex: 1;
}

.topnavbardiv ul li{
    list-style: none;
    flex:1;
    width: 100%;
}

.topNavBarData{
    text-align: center;
}

#topLastNavBarData{
    text-align: center;
}

/* Mobile */

@media only screen and (max-width: 1350px) {
    .topnavbardiv{
        display: none;
    }
}